<nav>
    <div class="nav-wrapper topnav">
        <h7 class="left">Mongoose Scraper App</h7>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="https://github.com/nicoloparco/Mongoose-Scraper">GitHub Repo</a></li>
        </ul>
    </div>
</nav>